In [39]:
import pandas as pd
abuse = pd.read_csv("data/abuse_data.csv",sep="\t")
statewide = abuse [abuse ["Town"] == "Statewide"]
abuse = abuse [ abuse ["Town"] != "Statewide"]

In [40]:
abuse.dtypes

Location                             object
Town                                 object
Population                            int64
Educational_Neglect_Total             int64
Educational_Neglect_Substantiated     int64
Emotional_Neglect_Total               int64
Emotional_Neglect_Substantiated       int64
Medical_Neglect_Total                 int64
Medical_Neglect_Substantiated         int64
Physical_Abuse_Total                  int64
Physical_Abuse_Substantiated          int64
Physical_Neglect_Total                int64
Physical_Neglect_Substantiated        int64
Sexual_Abuse_Total                    int64
Sexual_Abuse_Substantiated            int64
dtype: object

In [45]:
def col_per_capita(df, col):
    if "Total" not in col and "Substantiated" not in col:
        return df[col]
    return df[col] / df["Population"] * 1000

per_capita = abuse[["Location","Town","Population"]]
state_per_capita = statewide[["Location","Town","Population"]]

for col in abuse.columns:
    per_capita[col + "_pc"] = col_per_capita(abuse, col)
    state_per_capita[col + "_pc"] = col_per_capita(statewide, col)

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [46]:
abuse.sum()

Location                             AnsoniaAshfordBerlinBethelBloomfieldBranfordBr...
Town                                 AnsoniaAshfordBerlinBethelBloomfieldBranfordBr...
Population                                                                     3049993
Educational_Neglect_Total                                                         2652
Educational_Neglect_Substantiated                                                  743
Emotional_Neglect_Total                                                          10707
Emotional_Neglect_Substantiated                                                   2318
Medical_Neglect_Total                                                             1590
Medical_Neglect_Substantiated                                                      541
Physical_Abuse_Total                                                              6907
Physical_Abuse_Substantiated                                                       848
Physical_Neglect_Total                                                           39369
Physical_Neglect_Substantiated                                                    7444
Sexual_Abuse_Total                                                                1872
Sexual_Abuse_Substantiated                                                         672
dtype: object

In [70]:
per_capita[per_capita["Physical_Neglect_Total_pc"] > 24]\
[["Town","Location","Physical_Neglect_Total_pc","Physical_Neglect_Substantiated_pc"]]\
.sort_values(by="Physical_Neglect_Total_pc",ascending=False)

,Town,Location,Physical_Neglect_Total_pc,Physical_Neglect_Substantiated_pc
31,Hartford,Hartford,29.262605,4.224868
79,Waterbury,Waterbury,27.391775,6.825193
47,New London,New London,26.873911,7.081639
46,New Haven,New Haven,25.307729,4.595835
60,Putnam,Putnam,25.223332,5.885444
53,Norwich,Norwich,24.642132,6.662044

In [73]:
state_per_capita.max()

Location                                Statewide
Town                                    Statewide
Population                                3592053
Location_pc                             Statewide
Town_pc                                 Statewide
Population_pc                             3592053
Educational_Neglect_Total_pc             0.726604
Educational_Neglect_Substantiated_pc     0.149497
Emotional_Neglect_Total_pc                3.39165
Emotional_Neglect_Substantiated_pc       0.672317
Medical_Neglect_Total_pc                 0.402834
Medical_Neglect_Substantiated_pc        0.0829609
Physical_Abuse_Total_pc                   2.14028
Physical_Abuse_Substantiated_pc          0.150332
Physical_Neglect_Total_pc                 12.4199
Physical_Neglect_Substantiated_pc         2.24941
Sexual_Abuse_Total_pc                     0.50389
Sexual_Abuse_Substantiated_pc            0.120265
dtype: object

In [72]:
per_capita.max()

Location                                Woodstock
Town                                    Woodstock
Population                                 146680
Location_pc                             Woodstock
Town_pc                                 Woodstock
Population_pc                              146680
Educational_Neglect_Total_pc              2.65152
Educational_Neglect_Substantiated_pc      2.11193
Emotional_Neglect_Total_pc                9.35365
Emotional_Neglect_Substantiated_pc        4.83447
Medical_Neglect_Total_pc                  2.62536
Medical_Neglect_Substantiated_pc          2.11193
Physical_Abuse_Total_pc                   5.94996
Physical_Abuse_Substantiated_pc           2.30415
Physical_Neglect_Total_pc                 29.2626
Physical_Neglect_Substantiated_pc         9.21659
Sexual_Abuse_Total_pc                     2.62536
Sexual_Abuse_Substantiated_pc             2.62536
dtype: object

In [81]:
per_capita[per_capita["Emotional_Neglect_Total_pc"] > 6.6]\
[["Town","Location","Emotional_Neglect_Total_pc","Emotional_Neglect_Substantiated_pc"]]\
.sort_values(by="Emotional_Neglect_Total_pc",ascending=False)

,Town,Location,Emotional_Neglect_Total_pc,Emotional_Neglect_Substantiated_pc
60,Putnam,Putnam,9.353652,4.834472
86,Windham,Willimantic,7.518499,1.701555
38,Meriden,Meriden,7.242312,1.600238
35,Lisbon,Lisbon,7.142857,3.917051
85,Winchester,Winsted,6.943818,1.442871
79,Waterbury,Waterbury,6.779692,2.102159
31,Hartford,Hartford,6.716662,0.662881